DISCORD_APP_ID=*******
DISCORD_PUBLIC_KEY=*********************
DISCORD_BOT_TOKEN=****************
MIRROR_WEBHOOK_URL=********************
DATABASE_URL=********************
# DJANGO_SECRET_KEY=your_django_secret
# RETRY_SECRET=some_random_secret
DJANGO_SECRET_KEY=*******************